<header>
    <nav>
        <h3 routerLink="/">Areas academy</h3>
        <ul>
            <li *ngIf="isLogged && !isAluno" routerLink="/areaUsuario">
                Área do professor
            </li>
            <li *ngIf="isLogged && isAluno" routerLink="/areaUsuario">
                Área do aluno
            </li>
            <li [hidden]="isLogged" routerLink="/register">
                Entrar
            </li>
            <li [hidden]="!isLogged" (click)="logout()" routerLink="/register">
                Logout <i class="bi bi-box-arrow-in-right"></i>
            </li>
        </ul>
    </nav>
</header>