<app-header />

<div class="about">

    <div *ngIf="!usuario" class="about-deslog">
        <div class="about-left">
            <h1>Bem-vindo à Areas Academy!</h1>
            <p>Onde só os de verdade aprendem</p>
        </div>

        <div class="about-right">
            <img src="https://images.vexels.com/media/users/3/145125/isolated/preview/aa16f42d31c6418567d400b96dc7b2ac-ilustracao-de-mochila-de-estudante.png" alt="Estudante aprendendo" />
        </div>
    </div>

    
    <h1 *ngIf="usuario">Bem vindo {{ usuario.nome }}</h1>

</div>

<div class="courses">
    <h1>Cursos disponíveis</h1>
    <div class="carousel">
        <app-item tipo="item" titulo="Titulo 1" descricao="descrição do item" botao='Adcionar ao carrinho'></app-item>
    </div>
</div>

<div class="feedbacks">
    <h1>Continue de onde parou</h1>
    <div class="carousel">
        <app-item tipo="item-2" titulo="Continue" descricao="descricao do item" botao='Continuar' link='/curso'></app-item>
    </div>
</div>

<div class="footer">
    
</div>