.about{
    max-width: 100%;
    background-color: #D1E8E2;
    padding: 16px;
}

.courses{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.carousel{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
}

.feedbacks{
    max-width: 100%;
    background-color: #D1E8E2;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer{
    height: 300px;
    width: 100%;
    background-color: #222;
}