<div class="about">
    <h1>Bem vindo à Areas Academy!</h1>
    <p>Onde só os de verdade aprendem</p>
</div>

<div class="courses">
    <h1>Cursos disponíveis</h1>
    <div class="carousel">
        <div class="item">
            <p>{{logged ? user.name : "teste"}}</p>
        </div>
        <div class="item">
            <p>{{logged}}</p>
        </div>
        <div class="item">
            <p>teste</p>
        </div>
        <div class="item">
            <p>teste</p>
        </div>
    
    </div>
</div>