.btn{
    background-color: #19747E;
    width: 100%;
    border-radius: 5px;
    padding: 3% 2%;
    height: 100%;
    text-align: center;

    &:hover{
        cursor: pointer;
        background-color: #39c4d3;
    }
}

.btn span{
    text-decoration: none;
    color: white;
    font-size: 18px;
}