<app-header />
<div class="area-usuario-container">
  <nav class="menu-lateral">
    <a (click)="selectSection('cursos')">Meus Cursos</a>
    <a (click)="selectSection('certificados')">Certificados</a>
    <a (click)="selectSection('relatorios')">Relatórios</a>
    <a (click)="selectSection('config')">Configurações</a>
  </nav>


  <main class="area-usuario-content">
  <div *ngIf="selectedSection" class="modal-like">
    <ng-container [ngSwitch]="selectedSection">

      <section *ngSwitchCase="'cursos'" class="usuario-cursos">
        <div class="curso-card" *ngFor="let curso of cursosDoUsuario">
          <div class="imagem-curso">
            <img [src]="curso.imagemUrl" [alt]="curso.nome" />
              <div class="progresso-container">
                <div class="progresso" [style.width.%]="curso.progressoPercentual"></div>
              </div>
          </div>
          <h4 class="titulo">{{ curso.nome }}</h4>
          <div class="btn">
            <button >Assistir</button>
          </div>
        </div>

      </section>

      <section *ngSwitchCase="'certificados'" class="certificados">
        
        <div class="curso-card" *ngFor="let curso of cursosConcluidos">
          <div class="imagem-curso">
            <img [src]="curso.imagemUrl" [alt]="curso.nome" />
              <div class="progresso-container">
                <div class="progresso" [style.width.%]="curso.progressoPercentual"></div>
              </div>
          </div>
          <h4 class="titulo">{{ curso.nome }}</h4>
          <div class="btn">
            <button >Gerar certificado</button>
          </div>
        </div>

      </section>

      <section *ngSwitchCase="'relatorios'" class="progresso card">
        <h3>Progresso</h3>
        <p>Você concluiu 30% do curso.</p>
      </section>

      <section *ngSwitchCase="'config'" class="configuracoes">
        <h2>Configurações da Conta</h2>

        <form class="form-conta" >
          <label>
            Nome:
            <input type="text" [(ngModel)]="usuario.nome" name="nome" required />
          </label>

          <label>
            Email:
            <input type="email" [(ngModel)]="usuario.email" name="email" required />
          </label>

          <div class="botoes-conta">
            <button class="btn-editar" *ngIf="!modoEdicao" type="button" (click)="habilitarEdicao()">Editar</button>
            <button class="btn-salvar" *ngIf="modoEdicao" type="submit">Salvar</button>
            <button class="btn-excluir" *ngIf="modoEdicao" type="button" (click)="cancelarEdicao()">Cancelar</button>
          </div>
        </form>
      </section>

    </ng-container>
  </div>
</main>

</div>

<footer class="footer">
  <p>© 2025 Areas Academy. Todos os direitos reservados.</p>
</footer>
