:root {
  --primary-color: #1E3A8A;
  --accent-color: #cdd8fc;
  --text-color: #333;
  --nav-bg: #f5f5f5;
  --footer-bg: #222;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  --transition: all 0.3s ease;
  --font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--text-color);
}

.area-usuario-container {
  display: flex;
  min-height: 100vh;
}

.menu-lateral {
  width: 240px;
  background-color: #f5f5f5;
  padding: 2rem 1rem;
  border-right: 1px solid black;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-lateral a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  background-color: #f5f5f5;
}

.menu-lateral a:hover {
  background-color: #ebf0ff;
  color: #000;
  cursor: pointer;
}

.area-usuario-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fefefe;
}

.usuario-cursos,
.certificados,
.progresso {
  display: flex;
  width: 100%;
  background-color: var(--accent-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.usuario-curso h2 {
  margin-bottom: 0.5rem;
}

.curso-card {
  width: 260px;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease-in-out;
}

.curso-card:hover {
  transform: translateY(-4px);
}

.imagem-curso {
  position: relative;
  width: 100%;
  height: 160px;
}

.imagem-curso img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.progresso-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 6px;
  background: rgba(255,255,255,0.2);
  margin-right: 0.75rem;
  overflow: hidden;
}

.progresso {
  height: 100%;
  background-color: #F97316;
  transition: width 0.3s ease-in-out;
}

.btn {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn button{
  background-color: #1E3A8A;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn button:hover {
  background-color: #F97316;
}

.titulo {
  text-align: center;
}


.configuracoes {
  width: 95%;
  margin: 0;
  padding: 2rem;
}

.configuracoes h2 {
  text-align: start;
  color: #1E3A8A;
  margin-bottom: 1.5rem;
}

.form-conta label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

.form-conta input {
  width: 50%;
  padding: 0.6rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botoes-conta {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
  gap: 25px;
}

.btn-editar{
  background-color: #1E3A8A;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-salvar {
  background-color: #1E3A8A;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir {
  background-color: transparent;
  color: #dc2626;
  border: 2px solid #dc2626;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-excluir:hover {
  background-color: #dc2626;
  color: white;
}



.footer {
  height: 120px;
  background-color: var(--footer-bg);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}
