<div class="register-form">
    <h2>{{ isRegistering ? 'Cadastro de usuário' : 'Login'}}</h2>

    <form>
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="exemplo@dominio.com"/>
        <label>Senha:</label>
        <input [(ngModel)]="password" name="password" type="password" placeholder="********" />
        
        <label [hidden]="!isRegistering" >Nome completo</label>
        <input [(ngModel)]="name" name="name" [hidden]="!isRegistering"type="text"/>
        <label [hidden]="!isRegistering" >Data de nascimento</label>
        <input [(ngModel)]="birthday" name="birthday" [hidden]="!isRegistering"type="date"/>
        <a class="button" (click)="sendData()" type="submit">{{isRegistering ? 'Cadastrar' : 'Entrar'}}</a>
        <a (click)="toggleForm()">{{ isRegistering ? 'já possui conta ? Fazer login' : 'Não possui conta ? Cadastre-se'}}</a>
    </form>

</div>