<div class="register-form">
    <h2>{{ isRegistering ? 'Cadastro de usuário' : 'Login'}}</h2>

    <form>
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="exemplo@dominio.com"/>
        <label>Senha:</label>
        <input [(ngModel)]="senha" name="senha" type="password" placeholder="********" />
        
        <label [hidden]="!isRegistering" >Nome completo</label>
        <input [(ngModel)]="nome" name="nome" [hidden]="!isRegistering"type="text"/>
        <div class="btn">
            <a class="button" (click)="sendData()" type="submit">{{isRegistering ? 'Cadastrar' : 'Entrar'}}</a>
        </div>
        <div *ngIf="isRegistering" class="btn">
            <a class="button" (click)="cadastroProf()" type="submit">cadastrar como professor</a>
        </div>
        <a (click)="toggleForm()">{{ isRegistering ? 'já possui conta ? Fazer login' : 'Não possui conta ? Cadastre-se'}}</a>
    </form>

</div>