<app-header></app-header>
<!-- https://www.youtube.com/embed/VgDgWzBL7s4?si=tN8wqao_qYGtxEtk -->

<div class="curso-container">
  <!-- Conteúdo da aula à esquerda -->
  <section class="aula-conteudo">
    <h2>{{ aulaAtual?.nome }}</h2>
    <iframe
        *ngIf="aulaAtual as aula"
        width="100%"
        height="450"
        [src]="aulaAtual?.contentURL"
        frameborder="0"
        allowfullscreen
    ></iframe>
    <div class="descricao">
      <h4>Descrição</h4>
      <p>{{ aulaAtual?.descricao }}</p>
    </div>
  </section>

  <!-- Lista de aulas à direita -->
  <aside class="aula-lista">
    <h3>Conteúdo do Curso</h3>
    <ul>
        <li
            *ngFor="let aula of aulas; let i = index"
            [class.atual]="i === aulaSelecionada"
            (click)="trocarAula(i)"
            class="aula"
        >
            {{ aula.nome }}
        </li>
    </ul>

    <ul>
        <li (click)="concluirCurso()" class="aula-btn">
            Concluir curso
        </li>
    </ul>

  </aside>
</div>

<footer class="footer">
  <p>© 2025 Areas Academy. Todos os direitos reservados.</p>
</footer>